<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2018 - Today: GRAP (http://www.grap.coop)
License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).
-->
<odoo>

    <menuitem id="menu_oversight_root"
        name="Oversight"
        web_icon="oversight,static/description/icon.png"
        sequence="20"/>

    <menuitem id="menu_oversight_overview"
        name="Overview"
        parent="menu_oversight_root"
        sequence="1"/>

    <menuitem id="menu_oversight_setting"
        name="Setting"
        parent="menu_oversight_root"
        sequence="10"/>

</odoo>
