<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2018 - Today: GRAP (http://www.grap.coop)
License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).
-->
<odoo>

    <menuitem id="menu_oversight_root"
        name="Oversight"
        web_icon="oversight,static/description/icon.png"
        sequence="20">

        <menuitem id="menu_oversight_overview"
            name="Overview"
            sequence="1">

            <menuitem id="menu_oversight_domain_name_registrar_expiration"
                action="action_oversight_domain_name_registrar_expiration"
                sequence="10"/>

            <menuitem id="menu_oversight_url_certificate_expiration"
                action="action_oversight_url_certificate_expiration"
                sequence="20"/>

            <menuitem id="menu_oversight_server_ping"
                action="action_oversight_server_ping"
                sequence="30"/>

        </menuitem>

        <menuitem id="menu_oversight_setting"
            name="Settings"
            sequence="10">

            <menuitem
                id="menu_res_config_settings"
                action="action_res_config_settings"
                groups="oversight.group_manager"
                sequence="0"/>

            <menuitem id="menu_oversight_service"
                action="action_oversight_service"
                sequence="100"/>

            <menuitem id="menu_oversight_url"
                action="action_oversight_url"
                sequence="200"/>

            <menuitem id="menu_oversight_domain_name"
                action="action_oversight_domain_name"
                sequence="210"/>

            <menuitem id="menu_oversight_server"
                action="action_oversight_server"
                sequence="220"/>

            <menuitem id="menu_probe_result"
                action="action_probe_result"
                sequence="300"/>

        </menuitem>
    </menuitem>

</odoo>
